:root {
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #ffffff;
  --text-color: #757575;
  --background-color-black: #2F303A;
  --second-background-color: #F5F4FA;
  --icon-color:#afb1b8;
  --black-color: #000000;
  --transition-dir:250ms ;
  --transition-time:cubic-bezier(0.4, 0, 0.2, 1) ;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--title-text-color);
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
  -webkit-transition: color, background-color, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
  transition: color, background-color, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
  transition: color, background-color, box-shadow, var(--transition-dir) var(--transition-time);
  transition: color, background-color, box-shadow, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
}
.btn:hover, .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: text-color, background-color, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
  transition: text-color, background-color, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
  transition: text-color, box-shadow, background-color, var(--transition-dir) var(--transition-time);
  transition: text-color, box-shadow, background-color, var(--transition-dir) var(--transition-time), -webkit-box-shadow;
}
.btn-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-list .btn-item + .btn-item {
  margin-left: 8px;
}

.second-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  width: 200px;
  height: 50px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06px;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.second-button:hover, .second-button:focus {
  background-color: #188CE8;
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}

.button-icon {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
.client__item {
  width: 170px;
  height: 92px;
}
.client__link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  outline: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
  -webkit-transition: border var(--transition-dir) var(--transition-time);
  transition: border var(--transition-dir) var(--transition-time);
}
.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  -webkit-transition: border-color var(--transition-dir) var(--transition-time);
  transition: border-color var(--transition-dir) var(--transition-time);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.client__icon {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .client__item {
    max-width: calc((100% - 30px) / 2);
  }
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .client__item {
    max-width: calc((100% - 60px) / 3);
  }
  .client__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .client__item + .client__item {
    margin-left: 0;
  }
}
.footer {
  background-color: var(--background-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  color: var(--primary-white-color);
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
}
.footer__list .footer__item + .footer__item {
  margin-left: 10px;
}
.footer__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.footer__item {
  height: 44px;
  width: 44px;
}
.footer-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-input {
  color: var(--primary-white-color);
  padding: 16px 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-black);
  outline: none;
  -webkit-transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time), -webkit-filter var(--transition-dir) var(--transition-time);
}
.footer-input:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time), -webkit-filter var(--transition-dir) var(--transition-time);
}
.footer-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.footer__icon {
  margin-left: 10px;
}
.footer__link {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}

.addres__city {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: var(--primary-white-color);
}
.addres__link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-dir) var(--transition-time);
  transition: color var(--transition-dir) var(--transition-time);
}
.addres__link:hover, .addres__link:focus {
  color: var(--accent-color);
  -webkit-transition: color var(--transition-dir) var(--transition-time);
  transition: color var(--transition-dir) var(--transition-time);
}
.addres:first-of-type {
  margin-top: 20px;
}
.addres__item {
  margin-top: 9px;
}
.addres-block {
  margin-right: 70px;
}
.addres-bottom {
  margin-bottom: 20px;
}
.addres-input {
  color: var(--primary-white-color);
  padding: 16px 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--background-color-black);
  outline: none;
  -webkit-transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time), -webkit-filter var(--transition-dir) var(--transition-time);
}
.addres-input:focus {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  -webkit-transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: -webkit-filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time);
  transition: filter var(--transition-dir) var(--transition-time), -webkit-filter var(--transition-dir) var(--transition-time);
}
.addres-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.addres-input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.addres-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.addres-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.addres-input::placeholder {
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.6);
}
.addres-down {
  margin-right: 93px;
}

.down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__list {
    text-align: center;
  }
  .footer-group {
    text-align: center;
  }
  .down {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: block;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .addres-block {
    text-align: center;
    margin-bottom: 60px;
  }
  .addres-down {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .down {
    display: block;
  }
  .addres-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.nav {
  display: none;
}
.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color var(--transition-dir) var(--transition-time);
  transition: color var(--transition-dir) var(--transition-time);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.nav__link--active {
  color: var(--accent-color);
}
.nav__link--active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
}
.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}
.nav__icon {
  fill: var(--text-color);
  margin-right: 10px;
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.nav__icon:hover, .nav__icon:focus {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.nav__logo {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color var(--transition-dir) var(--transition-time);
  transition: color var(--transition-dir) var(--transition-time);
}
.header__link:focus, .header__link:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.header__link:focus .nav__icon, .header__link:hover .nav__icon {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.header__button {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav__link {
    display: none;
  }
  .header__link {
    display: none;
  }
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  outline: 1px solid #C4C4C4;
  background-color: var(--title-text-color);
  background: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/imgmain.jpg);
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgmain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero__button {
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  width: 216px;
  height: 50px;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06px;
  cursor: pointer;
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.hero__button:hover {
  background-color: #188CE8;
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}

@media screen and (max-width: 480px) {
  .hero {
    max-width: 480px;
    height: 400px;
  }
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    max-width: 768px;
    height: 400px;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);
  -webkit-transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time), -webkit-transform var(--transition-dir) var(--transition-time);
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--primary-white-color);
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-button:hover .icon-x, .modal-button:focus .icon-x {
  fill: var(--accent-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
.modal-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.modal-label :focus {
  border-color: var(--accent-color);
  outline: none;
  -webkit-transition: border-color var(--transition-dir) var(--transition-time);
  transition: border-color var(--transition-dir) var(--transition-time);
}
.modal-label > .modal-input:focus ~ .modal-icon {
  fill: var(--accent-color);
}
.modal-label > input, .modal-label .modal-label > textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color var(--transition-dir) var(--transition-time);
  transition: border-color var(--transition-dir) var(--transition-time);
}
.modal-label > input {
  padding: 7px 0;
  padding-left: 35px;
  padding-right: 5px;
}
.modal-label > textarea {
  padding: 12px 16px;
}
.modal-label > textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-label > textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-label:not(:last-child) {
  margin-bottom: 10px;
}
.modal-comment {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 5px;
}
.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-icon {
  fill: var(--title-text-color);
  position: absolute;
  bottom: 11px;
  left: 15px;
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}
.modal-icon:focus {
  fill: var(--accent-color);
}
.modal-checkbox:checked + .modal-label-checkbox > .checkbox-custom {
  background-color: var(--accent-color);
  border: 0;
}
.modal-checkbox:checked + .modal-label-checkbox > .checkbox-custom .checkbox {
  opacity: 1;
}
.modal-label-checkbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-link {
  font-size: 14px;
  line-height: 1.7;
  color: var(--accent-color);
  margin-left: 4px;
}
.modal-group {
  margin: 20px 0 30px 0;
}
.modal-input {
  height: 40px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.backdrop {
  -webkit-transform: scale(1);
          transform: scale(1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time), -webkit-transform var(--transition-dir) var(--transition-time);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop is-hidden {
  visibility: hidden;
  pointer-events: none;
}
.backdrop is-hidden .is-hidden .modal {
  -webkit-transform: translate(-50%) scale(0.5);
          transform: translate(-50%) scale(0.5);
}

.is-active {
  overflow: hidden;
}

.icon-close {
  vertical-align: middle;
}

.icon-x {
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}

.checkbox {
  width: 16px;
  height: 15px;
  fill: var(--primary-white-color);
  opacity: 0;
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.checkbox-info {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.checkbox-custom {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 1px;
  display: inline-block;
  margin-right: 7px;
}

.block-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.technology__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .technology__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.technology__item {
  position: relative;
}
.technology__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: var(--primary-white-color);
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .technology {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .technology {
    display: none;
  }
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
  text-decoration: none;
}
.logo__word {
  color: var(--black-color);
}
.logo.addres {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .details__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
.details__title {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.details__text {
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}
.details__icon {
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--second-background-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .details__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 767.98px) {
  .details__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .details__item {
    width: calc((100% - 90px) / 4);
  }
}

body {
  background-color: var(--primary-white-color);
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

body.is-active {
  overflow: hidden;
  padding-bottom: 370px;
}

textarea {
  resize: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

img {
  display: block;
  max-height: 100%;
  height: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.second-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.team {
  background-color: var(--second-background-color);
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team__job {
  font-size: 16px;
  line-height: 1.18;
  color: var(--text-color);
  margin-bottom: 16px;
}
.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team__item {
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.technology {
  padding-top: 0;
}

.list-job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-job li + li {
  margin-left: 10px;
}

.item-job {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.link-job {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.link-job:hover, .link-job:focus {
  background-color: var(--accent-color);
  -webkit-transition: background-color var(--transition-dir) var(--transition-time);
  transition: background-color var(--transition-dir) var(--transition-time);
}
.link-job:hover .icon-team, .link-job:focus .icon-team {
  fill: var(--primary-white-color);
}

.icon-team {
  fill: var(--icon-color);
  -webkit-transition: fill var(--transition-dir) var(--transition-time);
  transition: fill var(--transition-dir) var(--transition-time);
}

@media screen and (max-width: 480px) {
  .team__item {
    max-width: 450px;
  }
  .team__list {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__item {
    max-width: calc((100% - 30px) / 2);
  }
  .team__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.post-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.post-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color);
}
.post-styles {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.portfolio-link {
  display: block;
  text-decoration: none;
  font-style: normal;
  text-decoration: none;
  outline: transparent;
}
.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow var(--transition-dir) var(--transition-time);
  transition: -webkit-box-shadow var(--transition-dir) var(--transition-time);
  transition: box-shadow var(--transition-dir) var(--transition-time);
  transition: box-shadow var(--transition-dir) var(--transition-time), -webkit-box-shadow var(--transition-dir) var(--transition-time);
}
.portfolio-link:hover .portfolio-text, .portfolio-link:focus .portfolio-text {
  -webkit-transition: background-color, color var(--transition-dir) var(--transition-time);
  transition: background-color, color var(--transition-dir) var(--transition-time);
}
.portfolio-link:hover .portfolio-box, .portfolio-link:focus .portfolio-box {
  visibility: visible;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time), -webkit-transform var(--transition-dir) var(--transition-time);
}
.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.portfolio-list li {
  margin: 15px;
  max-width: 370px;
}
.portfolio-text {
  font-size: 18px;
  line-height: 1.6;
  color: var(--primary-white-color);
}
.portfolio-box {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  visibility: hidden;
  -webkit-transition: visibility, var(--transition-dir) var(--transition-time);
  transition: visibility, var(--transition-dir) var(--transition-time);
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}

.portfolio-list li {
  margin: 15px;
  max-width: 370px;
}

.modal-menu {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  -webkit-transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: -webkit-transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time);
  transition: transform var(--transition-dir) var(--transition-time), -webkit-transform var(--transition-dir) var(--transition-time);
}
.modal-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.modal-menu__btn {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.modal-menu__list {
  list-style: none;
}/*# sourceMappingURL=main.css.map */