
:root {
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --text-color: #757575;
    --background-color-black: #2F303A;
    --second-background-color: #F5F4FA;
    --icon-color:#afb1b8;
    --black-color: #000000;
    --transition-dir:250ms ;
    --transition-time:cubic-bezier(0.4, 0, 0.2, 1) ;}